<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alloget.shendul.allowanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.alloget.shendul.allowanceapp.AllowanceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alloget.shendul.allowanceapp.CreateAllowanceActivity"
            android:label="@string/title_activity_create_allowance"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alloget.shendul.allowanceapp.AllowanceDetailActivity"
            android:label="@string/title_activity_allowance_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alloget.shendul.allowanceapp.CreateTransactionActivity"
            android:label="@string/title_activity_create_transaction"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alloget.shendul.allowanceapp.TransactionDetailActivity"
            android:label="@string/title_activity_transaction_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alloget.shendul.allowanceapp.ShareAllowanceActivity"
            android:label="@string/title_activity_share_allowance"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>